# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = example.settings

[deploy]
#要往哪个服务器部署，就指定拿个服务器的ip和端口（6800）
url = http://118.24.255.219:6800/
#project项目名称
project = example
